version: "2"
services:

    lb:
      restart: always
      image: dockercloud/haproxy:1.3
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      ports:
        - 80:80
      links:
        - nginx
        - php


    nginx:
      restart: always
      image: nginx
      # volumes:
      #   - ./app/frontend/web:/usr/share/nginx/html
      #   - ./app/backend/web:/usr/share/nginx/html/office
      environment:
        - VIRTUAL_HOST_WEIGHT=2
        - VIRTUAL_HOST=*/assets/*, */office/assets/*


    php:
      restart: always
      build: ./build/php
      volumes:
        - ./app:/var/www/html
      links:
        - mysql
      environment:
        - VIRTUAL_HOST_WEIGHT=1
        - VIRTUAL_HOST=*
        

    mysql:
      restart: always
      image: mysql
      container_name: mysql
      ports:
        - "3306:3306"
      volumes:
        - ./build/mysql/initdb:/docker-entrypoint-initdb.d
        - ./database:/var/lib/mysql
        - ./build/mysql/sh:/build/mysql/sh
      environment:
        - MYSQL_DATABASE=world
        - MYSQL_ROOT_PASSWORD=password
      command: "/build/mysql/sh/permission.sh"


    pma:
      restart: always
      image: phpmyadmin/phpmyadmin
      links:
       - mysql:db
      ports:
        - 8080:80
